:root {
  --light-base: #ECEFF1;
  --light-text: #bababa;
  --light-text-hover: #111;

  --dark-base: #263238;
  --dark-text: #888;
  --dark-text-hover: #eaeaea;

  --bg-transition: 400ms;
}

html, body {
  height: auto;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  font-family: Helvetica, arial, sans;
  background-color: var(--light-base);
  color: var(--dark-base);
  background-size: cover;
  margin: 0;
  line-height: 1.5;
}

body.ready {
  transition: background-image,background-color var(--bg-transition) ease-in-out;
}

body.dark {
  background-color: var(--dark-base);
  color: var(--light-base);
}

.container {
  display: flex;
  height: 100%;
  z-index: 1000;
  position: relative;
}

.container h1 {
  margin: auto;
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  max-width: 80%;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.25);
}

@media (max-width: 500px) {
  .container h1 {
    font-size: 4em;
    text-align: left;
    width: 100%;
  }
}

body.dark .container h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

body.ready .container h1 {
  transition: color var(--bg-transition) ease-in-out;
}

div.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1s ease-in;
  background-size: cover;
}

.bg.fade-in {
  opacity: 0;
}

.colors {
  position: absolute;
  display: flex;
  width: 50%;
  left: 25%;
  bottom: 4em;
  height: 120px;
  z-index: 1000;
  box-sizing: border-box;
}

.colors > div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 10px;
}

body.big-head .container h1 {
  font-size: 12em;
  text-align: left;
  font-weight: 700;
}

@import "icons.css";
@import "controls.css";
@import "about.css";

